@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

</div>

<div style="background-color:Black; color:White; width:80%">
    <table style="text-align:center">

        <tr>
            <th>Nom</th>
            <th>Données</th>
            <th>Date</th>
        </tr>
        @for (int i = 0; i < 101; i++)
        {
        <tr>
            <td>@ViewBag.arrayName[i]</td>
            <td>@ViewBag.arrayData[i]</td>
            <td>
                @ViewBag.arrayDateAnnee[i] /
                @ViewBag.arrayDateMois[i] /
                @ViewBag.arrayDateJour[i]
            </td>
        </tr>
        }
    </table>
</div>

<button action="demarrer">Démarrer</button>
<button action="fin">Fin</button>